*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
    background-image: url(../img/osasco3.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    width: 80vw;
    height: auto;
}

.container{
    display: block;
    flex-direction: column;
    width: auto;
    margin: 20px 0;
}

p, div{
    background-color: rgba(227, 227, 227, 0.6);
    width: auto;
}

header{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

p, div, section{
    border: 1px solid rgb(36, 82, 43);
    padding: 20px 20px;
    margin-bottom: 0px;
    border-radius: 0px;
    margin: 20px 0;
}

h1{
    margin: 0px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 72px;
    letter-spacing: -2px;
}

h2{
    margin: 0px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
}

ul{
    padding: 20px 0 0 20px;
}

li{
    padding: 5px;
}

iframe{
    height: 40vw;
    width: 100%;
    padding: 5px;
}

.video{
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
}

.links{
    text-decoration: none;
}

.navegacao{
    display: block;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: rgba(227, 227, 227, 0.6);;
    text-align: left;
    border: 0px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    white-space: nowrap;
}

.nav{
    text-decoration: none;
    color: rgb(41, 66, 48);
    text-shadow:rgb(255, 0, 0);
    padding: 12px;
    border-radius: 9px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.nav:hover{
    background-color: rgb(120, 172, 120);
    color: black;
}

footer img {
    width: 100px;
    border: 20px solid rgba(255, 255, 255, 0);
  }
  
  footer img:hover {
      transition: all .2s ease-in-out;
      transform: scale(1.3);
  }