*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
    background-image: url(../img/osasco3.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    margin: 10px auto;
    width: 80%;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
}

header, p, div{
    background-color: rgba(227, 227, 227, 0.6);
    width: 1320px;
}


p, div, header, section{
    border: 1px solid rgb(36, 82, 43);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

h1{
    margin: 0px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 72px;
    letter-spacing: -2px;
}

h2{
    margin: 0px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
}

ul{
    padding: 20px 0 0 20px;
}

li{
    padding: 5px;
}

iframe{
    height: 720px;
    width: 1280px;
    margin-bottom: 10px;
}

footer{
    text-align: center;
}

.links{
    text-decoration: none;
}

.icones{
    width: 50px;
    height: 50px;
    margin: 10px;
}